html {
  overflow-x: hidden; }

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
  font-size: 18px;
  background: #2A363B;
  color: #859196; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #CF4647; }
  a:hover {
    text-decoration: none;
    color: #CF4647; }

h1, h2, h3, h4, h5 {
  line-height: 1.5;
  font-weight: normal;
  color: #fff; }

.text-primary {
  color: #CF4647 !important; }

.probootstrap-navabr-dark {
  background: transparent !important;
  position: absolute;
  left: 0;
  right: 0; }
  @media screen and (max-width: 991px) {
    .probootstrap-navabr-dark {
      background: #222b2f !important;
      top: 0;
      position: relative; } }
  .probootstrap-navabr-dark .navbar-nav > .nav-item > .nav-link {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (max-width: 960px) {
      .probootstrap-navabr-dark .navbar-nav > .nav-item > .nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px; } }
  .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-cta a {
    color: #fff; }
  .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px; }
    @media screen and (max-width: 960px) {
      .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-seperator {
        padding-left: 0;
        margin-left: 0; } }
    .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-seperator:before {
      position: absolute;
      content: "";
      top: 10px;
      bottom: 10px;
      left: 0;
      width: 2px;
      background: rgba(255, 255, 255, 0.05); }
      @media screen and (max-width: 960px) {
        .probootstrap-navabr-dark .navbar-nav > .nav-item.probootstrap-seperator:before {
          display: none; } }

.bg-image, .probootstrap-cover {
  background-size: cover;
  background-repeat: no-repeat; }

.probootstrap-cover {
  background-position: center center; }
  .probootstrap-cover .probootstrap-text .probootstrap-heading {
    font-size: 75px;
    line-height: 1.5; }
    @media screen and (max-width: 768px) {
      .probootstrap-cover .probootstrap-text .probootstrap-heading {
        font-size: 30px; } }
  @media screen and (max-width: 768px) {
    .probootstrap-cover .btn {
      width: 100% !important;
      border: 1px solid red; } }

.btn {
  border-radius: 4px;
  padding: 20px 30px;
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
    background: #CF4647;
    border-color: #CF4647;
    color: #fff; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
      border-color: #b32f30;
      background: #b32f30; }
  .btn.btn-outline-white {
    border-color: rgba(255, 255, 255, 0.2);
    background: none; }
    .btn.btn-outline-white:hover, .btn.btn-outline-white:focus, .btn.btn-outline-white:active {
      background: #fff;
      border-color: #fff;
      color: #000; }

.form-control {
  border: 2px solid rgba(255, 255, 255, 0.2);
  height: 55px;
  background: none !important;
  color: #fff !important;
  font-size: 18px; }
  .form-control:focus, .form-control:active {
    border: 2px solid #fff; }

textarea {
  height: inherit !important; }

.probootstrap-vh-100 {
  height: 100vh;
  min-height: 1000px; }
  @media screen and (max-width: 960px) {
    .probootstrap-vh-100 {
      height: inherit;
      padding-top: 5em;
      padding-bottom: 5em; } }

.probootstrap-vh-75 {
  height: 75vh; }
  @media screen and (max-width: 960px) {
    .probootstrap-vh-75 {
      height: inherit;
      padding-top: 5em;
      padding-bottom: 5em; } }

.bg-primary {
  background: #CF4647 !important; }

.probootstrap-section,
.probootstrap-footer {
  padding: 7em 0; }
  .probootstrap-section .probootstrap-heading,
  .probootstrap-footer .probootstrap-heading {
    font-size: 40px;
    line-height: 1.5; }
    @media screen and (max-width: 768px) {
      .probootstrap-section .probootstrap-heading,
      .probootstrap-footer .probootstrap-heading {
        font-size: 30px; } }

.probootstrap-bg-dark {
  background: #263135; }

.probootstrap-footer {
  font-size: 16px; }
  .probootstrap-footer.probootstrap-bg-dark {
    background: #222b2f; }
  .probootstrap-footer a {
    color: rgba(255, 255, 255, 0.3); }
    .probootstrap-footer a:hover {
      color: #CF4647; }
  .probootstrap-footer .probootstrap-heading {
    font-size: 24px; }
  .probootstrap-footer .probootstrap-heading-2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6); }

.probootstrap-devices {
  position: relative;
  height: 664px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  @media screen and (max-width: 1429px) {
    .probootstrap-devices {
      height: 564px; } }
  @media screen and (max-width: 1090px) {
    .probootstrap-devices {
      height: 464px; } }
  @media screen and (max-width: 884px) {
    .probootstrap-devices {
      height: 364px; } }
  @media screen and (max-width: 690px) {
    .probootstrap-devices {
      height: 200px; } }
  @media screen and (max-width: 480px) {
    .probootstrap-devices {
      height: 100px; } }
  .probootstrap-devices .probootstrap-device-left,
  .probootstrap-devices .probootstrap-device-center,
  .probootstrap-devices .probootstrap-device-right {
    position: absolute;
    width: auto;
    bottom: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .probootstrap-devices .probootstrap-device-left {
    left: 50%;
    margin-left: -650px;
    max-width: 700px; }
    @media screen and (max-width: 1429px) {
      .probootstrap-devices .probootstrap-device-left {
        max-width: 600px;
        margin-left: -550px; } }
    @media screen and (max-width: 1090px) {
      .probootstrap-devices .probootstrap-device-left {
        max-width: 450px;
        margin-left: -450px; } }
    @media screen and (max-width: 884px) {
      .probootstrap-devices .probootstrap-device-left {
        max-width: 400px;
        margin-left: -350px; } }
    @media screen and (max-width: 690px) {
      .probootstrap-devices .probootstrap-device-left {
        max-width: 200px;
        margin-left: -220px; } }
    @media screen and (max-width: 480px) {
      .probootstrap-devices .probootstrap-device-left {
        max-width: 150px;
        margin-left: -140px; } }
  .probootstrap-devices .probootstrap-device-center {
    max-width: 900px;
    left: 50%;
    margin-left: -450px;
    bottom: -5%; }
    @media screen and (max-width: 1429px) {
      .probootstrap-devices .probootstrap-device-center {
        max-width: 800px;
        margin-left: -400px; } }
    @media screen and (max-width: 1090px) {
      .probootstrap-devices .probootstrap-device-center {
        max-width: 600px;
        margin-left: -300px; } }
    @media screen and (max-width: 884px) {
      .probootstrap-devices .probootstrap-device-center {
        max-width: 500px;
        margin-left: -250px; } }
    @media screen and (max-width: 690px) {
      .probootstrap-devices .probootstrap-device-center {
        max-width: 300px;
        margin-left: -150px; } }
    @media screen and (max-width: 480px) {
      .probootstrap-devices .probootstrap-device-center {
        max-width: 200px;
        margin-left: -100px; } }
  .probootstrap-devices .probootstrap-device-right {
    max-width: 700px;
    right: 50%;
    margin-right: -650px; }
    @media screen and (max-width: 1429px) {
      .probootstrap-devices .probootstrap-device-right {
        max-width: 600px;
        margin-right: -550px; } }
    @media screen and (max-width: 1090px) {
      .probootstrap-devices .probootstrap-device-right {
        max-width: 450px;
        margin-right: -450px; } }
    @media screen and (max-width: 884px) {
      .probootstrap-devices .probootstrap-device-right {
        max-width: 400px;
        margin-right: -350px; } }
    @media screen and (max-width: 690px) {
      .probootstrap-devices .probootstrap-device-right {
        max-width: 200px;
        margin-right: -220px; } }
    @media screen and (max-width: 480px) {
      .probootstrap-devices .probootstrap-device-right {
        max-width: 150px;
        margin-right: -140px; } }

.probootstrap-footer-social li {
  list-style: none;
  margin: 0 10px 10px 0;
  display: inline-block; }
  .probootstrap-footer-social li a {
    height: 60px;
    width: 60px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative; }
    .probootstrap-footer-social li a span {
      position: absolute;
      font-size: 26px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

.footer-small-nav > li {
  display: inline-block; }
  .footer-small-nav > li a {
    margin: 0 10px 10px 0; }
    .footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
      color: #CF4647; }

.media .probootstrap-icon {
  width: 100px; }
  .media .probootstrap-icon span {
    color: #CF4647; }

.probootstrap-overflow-hidden {
  overflow: hidden; }

#probootstrap-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#probootstrap-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#probootstrap-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#probootstrap-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#probootstrap-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }



  
.jumbotronMainText {
  font-weight: bold;
}

.customModalCSS {
  width: 50vh !important;
  height: 28vh !important;
}

.modalTextBackground {
  background-color:rgba(0, 0, 0, 0.5);
}