* {
    outline: none !important;
}
body, html {
    height: 100% !important;
    padding: 0;
    margin: 0;
    overflow: hidden !important; /* Hide scrollbars */ 
    height: 100%;
}

.scene, canvas {
    width: 100%;
    height: 100%;
    min-height: 600px;
    z-index: 2;
}

.menuCol {
    height: 100%;
    overflow: auto;
}

#componentsList li {
    height: 50px;
    width: 100%;
}

.ui {
    z-index: 1;
    position: absolute;
}
#threeCanvas{
    z-index: 10;
    position: absolute;
}

.navbarTitle {
    text-align: center;
}

.underTitleText {
    text-align: center;
}

#itemText {
    text-align: center;
}

.h3,  h3 {
    text-align: center;
}

#UIRow {
    max-height: 100%;
}

.productPicture {
    margin: auto;
    display: flex;
    height: 80%;
    width: 80%;
}
  
.productPictureImg {
    margin: auto;  /* Magic! */
    max-width: 100%;
    max-height: 100%;
}

.productBarrier {
    width: 80%;
    height:1px;
    background-color: lightgrey;
    margin: 0 auto;
    margin: 20px auto;
}


.productDescription {
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .dropdownWrapper  {
    margin: 10px !important;
  }
  
  .doubleDropdownWrapper {
    display: inline-block;
    width: calc(50% - 4px);
    margin: 0 auto;
  }

  #rightSideContainer {
      padding: 0 !important;
  }

.productDescriptionText {
    font-size: 19px;
}

.centerTopBottom {
    margin: auto auto;
    padding: 0 !important;
}

.innerDescriptionDiv {
    padding-top: 15px;
}

.dimensionsText {
    font-size: 17px;
    font-style: normal;
    padding-bottom: 5px;
}

.itemTitleText {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 30px;
    padding-bottom: 5px;
}

.smallParagraphBreak {
    font-size: 5px !important;
}

label {
    padding: 0;
    margin: 0;
}

.keybindLetter {
    font-weight: bold !important;
}
.keybindButton {
    margin: 5px;
}

.navbarWrapper {
    position: fixed;
}

.btn.btn-primary {
    background: #62C462 !important;
    border-color: #62C462 !important;
    color: #fff !important;
}

.navbar-brand {
    padding-left: 0px !important;
    font-size: 26px;
}

.navbar {
    border: 0px !important;
}

.jumbotronMainText {
    font-weight: bold !important;
}

.modalTextBackground {
    background-color:rgba(0, 0, 0, 0.5);
}

#settingsButton {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
}

#resetCameraButton {
    position: absolute;
    bottom: 0;
    margin: 15px;
    z-index: 1;
}

#toggleAxesButton {
    position: absolute;
    bottom: 0;
    left: 10;
    margin: 15px;
    z-index: 1;
}

.modalRadioButton {
    position: fixed;
  bottom: -4px;
  right: 10px;
}

.introTutorialButton {
    margin: 10px;
    margin-bottom: 16px;
    margin-top: 0px;
    margin-left: 0px;
}

.modal-content::-webkit-scrollbar {
    display: none; 
}
